* {
  margin: 0;
}
body {
  color: white;
}
.main-header {
  background-color: red;
  text-align: center;
}
.left {
  background-color: green;
  width: 25%;
}

.right {
  background-color: pink;
  width: 25%;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container-content {
  display: flex;
  flex-wrap: wrap;
}
.text-section {
  background-color: rgb(29, 188, 241);
  width: 50%;
}

.main-footer {
  background-color: rgb(163, 94, 175);
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    font-size: 40px;
  }
  .container-content {
    order: 2;
  }

  .main-header,
  .main-footer {
    height: 15vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5vh;
  }

  aside,
  .text-section {
    height: 50vh;
    text-align: center;
  }
  .left {
    width: 100%;
    order: 2;
  }
  .right {
    width: 100%;
    order: 3;
  }
  .text-section {
    width: 100%;
    order: 1;
  }
  .main-header {
    order: 1;
  }
  .main-footer {
    order: 3;
  }
}
@media (min-width: 992px) {
  .container {
    font-size: 30px;
  }
  .main-header,
  .main-footer {
    height: 10vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2vh;
  }
  .container-content {
    flex-direction: row;
    order: 2;
  }
  .left {
    order: 1;
  }
  .text-section {
    order: 2;
  }
  .right {
    order: 3;
  }
  .main-footer {
    order: 3;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    font-size: 30px;
  }

  .right {
    width: 20%;
    order: 2;
  }
  .left {
    width: 100%;
    height: 50vh;
    order: 3;
  }
  .text-section {
    order: 1;
    width: 80%;
    height: auto;
  }
  .main-header,
  .main-footer {
    height: 10vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2vh;
  }

  .main-footer {
    order: 3;
  }
}
.mainheader {
  display: grid;
  grid-template-columns: auto auto auto;
}
