* {
  margin: 0;
}
body {
  color: white;
}
header {
  background-color: red;
}
aside[direction="left"] {
  background-color: green;
}
aside[direction="right"] {
  background-color: pink;
}
section {
  background-color: rgb(29, 188, 241);
}
footer {
  background-color: rgb(163, 94, 175);
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    font-size: 40px;
  }
  .container-content {
    display: flex;
    flex-direction: column;
    order: 2;
  }

  header,
  footer {
    height: 15vh;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2.5vh;
  }

  aside,
  section {
    height: 50vh;
    text-align: center;
  }
  aside[direction="left"] {
    order: 2;
  }
  aside[direction="right"] {
    order: 3;
  }
  section {
    order: 1;
  }
  header {
    order: 1;
  }
  footer {
    order: 3;
  }
}
